:root {
  /* MaxWidth Of Page, Container-Fluid, Container, Gutter*/

  --max-width-page: 2560px;
  --max-width-container-fluid: 1920px;
  --max-width-container: calc(1200px + calc(var(--gap) * 2));

  /* Colors Variable Demo*/
  --black-cl: #000000;
  --blue-cl: #6495ed;
  --grey-cl: #f4f4f4;
  --white-cl: #ffffff;

  --fs-h1: 9rem;
  --lh1-h1: 10rem;

  --fs-h2: 8.5rem;
  --lh1-h2: 9rem;

  --fs-body: 1.8rem;
  --lh-body: 2rem;

  // Timing Transition Variable Demo
  --duration: 0.4s;

  // Responsive
  @include md {
    --container-max-width: 1140px;
  }
  @include sm {
    --container-max-width: 960px; // hoặc max-width: 100% tuỳ yêu cầu
  }
  @include xs {
    --container-max-width: 720px; // hoặc max-width: 100% tuỳ yêu cầu
    --gap: 16px;

    // DEMO
    --fs-h1: 6rem;
    --lh1-h1: 6.8rem;

    --fs-h2: 5.5rem;
    --lh1-h2: 6.2rem;

    --fs-body: 1.7rem;
    --lh-body: 1.9rem;
  }
  @include xxs {
    --container-max-width: 100%;
  }
}
