.accordion {
  .heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
  }
  &__list {
    padding-left: 15%;
    padding-right: 15%;
    &-item {
      background-color: var(--white-cl);
      &:not(:last-child) {
        border: 1px solid var(--grey-cl);
      }
      .question {
        font-size: 17px;
        font-weight: bold;
        padding: 24px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: var(--duration);
        &:hover {
          background-color: var(--blue-cl);
          .icon {
            span {
              background-color: var(--white-cl);
            }
          }
        }
        .icon {
          span {
            width: 20px;
            height: 2px;
            position: relative;
            background-color: var(--blue-cl);
            transition: var(--duration);
            &::after {
              background-color: var(--white-cl);
            }
          }
        }
        &.--active {
          .icon {
            span {
              background-color: var(--white-cl);
              &:hover {
                background-color: var(--white-cl);
              }
            }
          }
        }
      }
      &.--active {
        .question {
          background-color: var(--blue-cl);
          .icon {
            span {
              background-color: var(--white-cl);
              &::after {
                transform: rotate(0deg);
                background-color: var(--white-cl);
              }
            }
          }
        }
      }
      .answer {
        padding: 0px 24px;
        /* display: none; */
        max-height: 0;
        overflow: hidden;
        transition: var(--duration);
        &__title {
          font-weight: bold;
          font-size: 18px;
          padding-bottom: 14px;
          margin-top: 20px;
        }
        &__content {
          margin-bottom: 20px;
          li {
            &:not(:last-child) {
              padding-bottom: 7px;
            }
            &::before {
              content: "-";
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
  @include xs {
    &__list {
      padding-left: initial;
      padding-right: initial;
      &-item {
        .question {
          padding: 24px 20px;
        }
      }
    }
  }
}
